<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net452" userInstalled="true" />
  <package id="StyleCop.Analyzers" version="1.0.0-alpha005" targetFramework="net452" userInstalled="true" developmentDependency="true" />
</packages>