<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Feature Id="MSBuildIntegration"
             Title="MSBuild Integration"
             AllowAdvertise="no"
             Absent="disallow"
             Level="1">
      <ComponentGroupRef Id="MSBuildIntegration" />
      <ComponentGroupRef Id="Rules" />
    </Feature>
    <ComponentGroup Id="MSBuildIntegration" Directory="NuProj">
      <Component>
        <File Source="$(var.NuProj.Tasks.TargetDir)NuGet.exe" />
      </Component>
      <Component>
        <File Source="$(var.NuProj.Tasks.TargetDir)Additional\NuProj.targets" />
      </Component>
      <Component>
        <File Source="$(var.NuProj.Tasks.TargetDir)Additional\NuProj.props" />
      </Component>
      <Component>
        <File Source="$(var.NuProj.Tasks.TargetDir)NuProj.Tasks.dll" />
      </Component>
      <Component>
        <File Source="$(var.NuProj.Tasks.TargetDir)NuGet.Core.dll" />
      </Component>
      <Component>
        <File Source="$(var.NuProj.Tasks.TargetDir)Microsoft.Web.XmlTransform.dll" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="Rules" Directory="Rules">
      <Component>
        <File Source="$(var.SolutionDir)NuProj.Package\Rules\folder.xaml" />
      </Component>
      <Component>
        <File Source="$(var.SolutionDir)NuProj.Package\Rules\general.browseobject.xaml" />
      </Component>
      <Component>
        <File Source="$(var.SolutionDir)NuProj.Package\Rules\general.xaml" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>