<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>

    <PropertyRef Id="VS15_ROOT_FOLDER" />
    <PropertyRef Id="VS15_EXTENSIONS_DIR" />
    <PropertyRef Id="VS15_PROJECTTEMPLATES_DIR" />
    <CustomActionRef Id="VS15Setup" />

    <Feature Id="VS15Integration"
             Title="Visual Studio &quot;15&quot; Integration"
             AllowAdvertise="no"
             Level="0">
      <Condition Level="1">VS15_ROOT_FOLDER</Condition>
      <ComponentGroupRef Id="NuProjProjectSystem15" />
      <ComponentGroupRef Id="VS150.ProjectTemplates.NuGet" />
    </Feature>

    <DirectoryRef Id="TARGETDIR">
      <Directory Id="VS15_EXTENSIONS_DIR" Name="VS15_EXTENSIONS_DIR">
        <Directory Id="VS150.NuGet" Name="NuGet">
          <Directory Id="VS150.NuProj" Name="NuProj" />
        </Directory>
      </Directory>
      <Directory Id="VS15_PROJECTTEMPLATES_DIR" Name="VS15_PROJECTTEMPLATES_DIR">
        <Directory Id="VS150.ProjectTemplates.NuGet" Name="NuProj" />
      </Directory>
    </DirectoryRef>

    <ComponentGroup Id="NuProjProjectSystem15" Directory="VS150.NuProj">
      <Component Id="VS15.extension.vsixmanifest" Guid="{ABB1B373-733C-4470-A846-0280B203BBDE}">
        <File Source="$(var.NuProj.ProjectSystem.15.TargetDir)extension.vsixmanifest" Id="VS15.extension.vsixmanifest" />
      </Component>
      <Component Id="VS15.NuProj.icon" Guid="{B479B342-F0E9-41EF-8256-7C90E9EC30C9}">
        <File Source="$(var.SolutionDir)Icons\NuProj.ico" Id="VS15.NuProj.ico" />
      </Component>
      <Component Id="VS15.NuProj.ProjectSystem.dll" Guid="{012866DD-9C98-4829-A910-997F74932C4F}">
        <File Source="$(var.NuProj.ProjectSystem.15.TargetDir)NuProj.ProjectSystem.15.dll" />
      </Component>
      <Component Id="VS15.NuProj.ProjectSystem.pdb" Guid="{8D99A2EF-3ECB-4339-B616-AD0F4F60C508}">
        <File Source="$(var.NuProj.ProjectSystem.15.TargetDir)NuProj.ProjectSystem.15.pdb" />
      </Component>
      <Component Id="VS15.NuProj.ProjectSystem.pkgdef" Guid="{7AF3433C-F6CD-4440-8ADA-04B3452BD701}">
        <File Source="$(var.NuProj.ProjectSystem.15.TargetDir)NuProj.ProjectSystem.15.pkgdef" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="VS150.ProjectTemplates.NuGet" Directory="VS150.ProjectTemplates.NuGet">
      <Component Id="VS15.NuProj.zip" Guid="{3BA57FE3-5409-4343-9DAA-EDB575D1037F}">
        <File Source="$(var.NuProj.ProjectSystem.15.TargetDir)ProjectTemplates\NuGet\1033\NuProj.zip" Id="VS15.NuProj.zip" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>